<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <nav>
        <div class="head"><span>歡迎光臨，請輸入帳號密碼</span></div>
    </nav>
    <section>
        <div class="sign">
            <form action="/signin" method="POST">
                <div>登入系統</div>
                <div class="usr">
                    <label for="usr">帳號</label>
                    <input type="text" id ="usr" name="usr" autofocus>
                </div>
                <div class="usr">
                    <label for="pw">密碼</label>
                    <input type="password" id="pw" name="pw">
                </div>
                <div class="btn"><button type="submit" id="btn">登入</button></div>
            </form>
        </div>
    </section>
</body>
</html>